RewriteEngine On
RewriteRule ^(.*)$ http://trs-srilanka.jelastic.servint.net/trs-SriLankaWeb/ [R=301]
ErrorDocument 404 http://trs-srilanka.jelastic.servint.net/trs-SriLankaWeb/underconstruction.jsp